header {
    background-color: #333;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header nav ul li a {
    margin: 0 10rem;
    color: #ccc;
    font-size: 1.2rem;
}